* {
    box-sizing: border-box;
}

:root {
    --text-color: #7d8188;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;

    display: inline-block;
    min-width: 173px;
    height: var(--height);
    border: 1.5px solid #143c3c;
    border-radius: 999px;

    color: #fff;
    text-align: center;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: var(--height); /* 155.556% */

    background: #143c3c;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    position: sticky;
    background: #fff;
    top: -10px;
    padding-top: 28px;
    z-index: 3;
    opacity: 0.9;
}

/* Header top */
.header-top {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 19px;
    color: var(--text-color);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556; /* 155.556% */
    transition: 0.25s;
}

.navbar__item--active,
.navbar__link:hover {
    color: #152427;
}

.navbar__item--active {
    position: relative;
    color: #152427;
}

.navbar__item--active::after {
    position: absolute;
    display: inline-block;
    left: 20px;
    bottom: -22px;
    content: "";
    width: 16px;
    height: 2px;
    background: #143c3c;
}

.header-action {
    margin-left: 88px;
}

/* Hero */
.hero {
    padding-top: 60px;
    margin-bottom: 87.69px;
    background: #fff;
    border-top: 1px solid;
    border-image: linear-gradient(
            90deg,
            #ffffff 0%,
            #dddcdc 51.09%,
            rgba(213, 213, 213, 0) 99.68%
        )
        1;
}

/* .hero::before {
    display: inline-block;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
} */

.hero__inner {
    display: flex;
    column-gap: 76px;
}

.hero__content {
    margin-top: 43px;
    width: 35.5%;
}

.hero__heading {
    max-width: 93.6%;
    color: #152427;
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.hero__desc {
    margin-top: 20px;
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556; /* 155.556% */
}

.hero__cta {
    margin-top: 42px;
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.hero__watch-video {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero__watch-video:hover .hero__cta-play-btn {
    cursor: pointer;
    background: #143c3c;
}

.hero__watch-video:hover .hero__cta-play-btn-wrap {
    border-color: #83a17d;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(135deg);
}

.hero__watch-video:hover .hero__watch-video-text {
    color: #83a17d;
}

.hero__watch-video:hover .hero__cta-icon {
    transform: rotate(60deg);
}

.hero__cta-play-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 59px;
    border: 4px solid #143c3c;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    transition-duration: 0.25s;
}

.hero__cta-play-btn {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 43px;
    outline: none;
    border: none;
    border-radius: 50%;
    background: #83a17d;
    transform: rotate(45deg);
    transition-duration: 0.25s;
}

.hero__watch-video-text {
    flex-shrink: 0;
    color: #152427;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
}

.hero__media {
    position: relative;
}

.hero__image {
    display: flex;
    height: 543px;
    column-gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    z-index: 2;
}

.hero__img:nth-child(2) {
    align-self: flex-end;
}

.hero__media--blur {
    position: absolute;
    top: 122px;
    left: 156px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: 1;
}

.hero__decor--top {
    position: absolute;
    top: -32px;
    left: -182px;
    z-index: 2;
}

.hero__decor {
    position: relative;
    width: 545px;
}

.hero__decor-avstract {
    position: absolute;
    top: 7px;
    left: 0;
    transform: translateX(-50%);
}

.hero__decor--bottom {
    position: absolute;
    right: 49px;
    bottom: -68px;
    z-index: 2;
    transform: rotate(180deg);
}

/* Brand */
.brand {
    padding-top: 42.31px;
}

.brand__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 77px 121px;
    border-radius: 999px;
    background: #e2eddf;
}

.brand__item-group {
    font-size: 0;
}

.brand__item-name {
    margin-left: 11px;
}

/* Service */
.service {
    margin-top: 106px;
}

.service__top {
    display: flex;
}

.section-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
}

.section-top__line {
    display: inline-block;
    margin-right: 21px;
    margin-bottom: 9px;
    width: 25px;
    height: 1px;
    background: #152427;
}

.section-heading {
    margin-top: 12px;
    max-width: 520px;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2381; /* 123.81% */
}

.section-heading__line {
    display: inline-block;
    margin-left: 21px;
    margin-bottom: 9px;
    width: 66px;
    height: 2px;
    background: #152427;
}

.service__control {
    display: flex;
    column-gap: 17px;
    margin-top: 79px;
    margin-left: 422px;
}

.service__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    outline: none;
    border: none;
    color: #152427;
    background: #e2eddf;
    transition: 0.25s;
}

.service__control-btn:hover {
    color: #ffffff;
    background: #143c3c;
    cursor: pointer;
}

.service__control-btn--next {
    transform: rotate(180deg);
}

.service__list {
    margin-top: 76px;
    width: 100%;
    display: flex;
    column-gap: 16px;
}

.service-item {
    width: 32.5%;
    border-radius: 20px;
    overflow: hidden;
}

.service-item:hover {
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item__img {
    width: 100%;
    height: 318px;
    object-fit: cover;
}

.service-item__body {
    padding: 24px 18px;
}

.service-item__heading {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service-item__desc {
    max-width: 268px;
    margin-top: 18px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71429; /* 171.429% */
}

/* About */
.about {
    margin-top: 149px;
}

.about__inner {
    display: flex;
    column-gap: 64px;
}

.about__media {
    position: relative;
    width: 52.6%;
}

.about__images {
    height: 557px;
    display: flex;
    column-gap: 21px;
}

.about__img {
    width: 286px;
    height: 480px;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    object-fit: cover;
}

.about__img:first-child {
    align-self: flex-end;
}

.hero__decor--rotate {
    position: absolute;
    left: 44.18px;
    top: 8.11px;
    transform: rotate(12.645deg);
}

.about-summary {
    position: absolute;
    bottom: 8px;
    right: -9px;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-summary {
    font-family: "Public Sans";
}

.about-summary__top {
    padding: 19px 23px 3px;
}

.about-summary__title {
    color: #152427;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about-summary__desc {
    margin-top: 6px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4; /* 140% */
}

.about-summary__stats {
    margin-top: 10px;
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-summary__process-bar {
    position: relative;
    margin-top: 3px;
    width: 96px;
    height: 2px;
    border-radius: 999px;
    background: #eaeaea;
}

.about-summary__process-bar--now {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 2px;
    border-radius: 99px;
    background: #83a17d;
}

.about-summary__process-text {
    margin-top: 3px;
    text-align: right;
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-summary__icon {
    margin-left: 19px;
}

.about-summary__bottom {
    padding: 4px 17px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-summary__bottom-text {
    color: #152427;
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-summary__members {
    display: flex;
    align-items: center;
}

.about-summary__avatar {
    margin-left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #fff;
}

.about__heading {
    margin-top: 20px;
}

.about__desc {
    margin-top: 11px;
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
}

.about-info {
    margin-top: 36px;
}

.about-info__item {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    column-gap: 24px;
    border-bottom: 1px solid #83a17d;
}

.about-info__item:not(:first-child) {
    margin-top: 38px;
}

.about-info__percent {
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2381; /* 123.81% */
}

.about-info__desc {
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71429; /* 171.429% */
}

.section-top__centre {
    margin-bottom: 0;
}

/* Process */
.process {
    margin-top: 79px;
}

.process__heading {
    padding-top: 36px;
}

.process__list {
    margin-top: 81px;
}

.process-item {
    position: relative;
    min-height: 151px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-radius: 33px;
    background: #fff;
    transition: 0.25s;
}

.process-item:hover {
    min-height: 185px;
    background: #e2eddf;
}

.process-item:hover .process-item__link {
    display: inline-block;
}

.process-item:hover::after {
    visibility: hidden;
}

.process-item::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process-item__order {
    min-width: 109px;
    color: #143c3c;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72222; /* 72.222% */
}

.process-item__heading {
    margin-left: 64px;
    min-width: 176px;
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.process-item__link {
    display: none;
    margin-top: 22px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.process-item__link:hover {
    text-decoration: underline;
}

.process-item__desc {
    margin-left: auto;
    max-width: 572px;
    color: #7d8188;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556; /* 155.556% */
}

.process-item:hover .process-item__desc {
    visibility: hidden;
}

.process-item__img {
    visibility: hidden;
    position: absolute;
    right: 92px;
    bottom: 0;
}

.process-item:hover .process-item__img {
    visibility: visible;
}

/* Project */
.project {
    margin-top: 148px;
    background: #143c3c;
}

.project__inner {
    padding: 116px 0 63px;
}

.project__top {
    display: flex;
    align-items: center;
}

.project__heading {
    margin-top: 0;
    color: #e7f9f9;
}

.project__heading-line {
    background: #83a17d;
}

.project__info {
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556; /* 155.556% */
}

.project__desc {
    max-width: 572px;
    color: #6a8383;
}

.project__cta {
    display: flex;
    align-items: center;
    column-gap: 26px;
    margin-top: 13px;
}

.project__link {
    color: #fff;
}

.project__link:hover {
    color: #80a07b;
}

.project__next-btn {
    outline: none;
    border: none;
    background: transparent;
}

.project__next-img {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* #80A07B */
}

.project__next-img:hover {
    color: #80a07b;
    cursor: pointer;
}

.project-media {
    display: flex;
    margin-top: 65px;
}

.project-media__video {
    width: 100%;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

/* Feature */
.feature {
    margin-top: 140px;
}

.feature__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__heading {
    max-width: 520px;
    color: #152427;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2381; /* 123.81% */
}

.feature__desc {
    max-width: 547px;
    margin-top: 20px;
    color: #7d8188;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
}

.feature__list {
    margin-top: 103px;
    display: flex;
    column-gap: 45px;
}

.feature-item {
    width: 350px;
    height: 362px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    background: #fff;
    transition: 0.25s;
}

.feature-item:hover {
    transform: translateY(-59px);
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.feature-item__name {
    margin-top: 20px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.feature-item__desc {
    margin-top: 12px;
    max-width: 286px;
    color: #7d8188;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71429; /* 171.429% */
}
